@model ProjektniMenadzment.Models.ViewModels.CreateZadatakRequest
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form asp-action="Create" method="post">
                <input type="hidden" asp-for="ProjekatId" />

                <div class="form-group">
                    <label asp-for="Naslov"></label>
                    <input asp-for="Naslov" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Opis"></label>
                    <textarea asp-for="Opis" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="Prioritet"></label>
                    <select asp-for="Prioritet" class="form-control">
                        <option value="Nizak">Nizak</option>
                        <option value="Srednji">Srednji</option>
                        <option value="Visok">Visok</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Rok"></label>
                    <input asp-for="Rok" type="date" class="form-control" />
                </div>

                <button type="submit" class="btn btn-dark">Kreiraj</button>
            </form>
        </div>
    </div>
</div>
